.h-100 {
  height: 100%;
}

.bg-none {
  background: none !important;
}

.bg-grey {
  background-color: rgba(182, 200, 227, .1);
}

.bg-grey-half::before {
  content: '';
  background-color: rgba(182, 200, 227, .1);
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  z-index: 0;

  > .container {
    z-index: 1;
    position: relative;
  }
}